body {
  background-image: url('/images/noisy.png');
}

#main-content {
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.7);
  padding: 2em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}

#msie_warn { display: none; }
#msie_warn a { color: #ccc; }
